$mainGreen: #4CAF50;

.landing-image-block {
  margin: 0;
  padding: 0;
  width: 100vw;
  height:90vh;
  //display: table;

  .landing-image-section, .landing-buttons-section {
    width:100%;
    margin: 0;
    padding: 0;
  }

  .landing-image-section {
    height:80vh;
    min-height: 500px;
    background: url('http://dosug-vko.kz/images/slider/baza-sinegorje/sl-1.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    .landing-text-container {
      //height: 100%;

      .landing-text {
        padding: 20px;
        font-size: 3em;
        //line-height: 85vh;
        color: white;
        font-weight: bolder;
      }

    }

  }

  .landing-buttons-section {
    //height: 14vh;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    .landing-buttons {
      .action-button,  .details-button {
        display: inline;
        vertical-align: middle;
        width: 50%;
        margin: 0;

        a {
          color: #999;
          font-size: 1.3em;
          padding: 10px;
          text-decoration: none;
        }

        a:hover {
          color: $mainGreen;
        }
      }

      .action-button {
        border-right: 2px solid #E5BF42;
      }

    }

  }

}


$gradientStart: #fdfbfb;
$gradientEnd: #FFFCC7;
//$gradientEnd: #ebedee;

.accommodation-information-block {

  margin: 0 auto;
  padding: 30px 10px;
  //background: #f5f8fa;

  background: #fafafa;  /* fallback for old browsers */

  .heading {
    text-align: center;
    padding: 20px 0;
  }


  .house-info-grid {
    display: table;
    width: 100%;
    margin: 50px 0;

    .house-info-item {
      display: table-cell;
      width: 33%;
      border-right: 1px solid #afafaf;
      text-align: center;
      font-size: 1.4em;
      color: #666;
    }

    .house-info-item:last-of-type {
      border: none;
    }
  }

  .extra-info {
    color: #666;
    font-size: 1.1em;
  }

}


.book-offer-reminder-block {

  width: 100%;
  padding: 30px 10px;
  text-align: center;

  p {
    color: #666;
    font-size: 1.6em;
    margin-bottom: 50px;
  }

  .book-reminder-button {
    display: inline-block;
    padding: 20px;
    color: $mainGreen;
    border: 1px solid $mainGreen;
    text-decoration: none;
    font-size: 1.3em;

    -webkit-transition: color 0.1s, background 0.1s;
    -moz-transition: color 0.1s, background 0.1s;
    -ms-transition: color 0.1s, background 0.1s;
    -o-transition: color 0.1s, background 0.1s;
    transition: color 0.1s, background 0.1s;
  }

  .book-reminder-button:hover {
    color: #fff;
    background: $mainGreen;

    -webkit-transition: color 0.1s, background 0.1s;
    -moz-transition: color 0.1s, background 0.1s;
    -ms-transition: color 0.1s, background 0.1s;
    -o-transition: color 0.1s, background 0.1s;
    transition: color 0.1s, background 0.1s;
  }

}


.subscription-offer-block {
  width: 100%;
  padding: 30px 10px;
  //background: #031C11;
  text-align: center;
  
  p {
    color: #666;
    font-size: 1.6em;
  }
  
  input {
    border: none;
    border-bottom: 1px solid $mainGreen;
    outline: none;
    text-indent: 10px;
    font-size: 1.7em;
    color: #333;
  }

  input::placeholder {
    color: #dfdfdf;
  }

  button {
    padding: 5px;
    font-size: 1.3em;
    background: #ffffff;
    color: $mainGreen;
    border: 1px solid $mainGreen;
  }

  button:hover {
    color: #fff;
    background: $mainGreen;
  }

}

.image-gallery-block {
  max-height: 900px !important;
  width: auto;

  img {
    max-height: 800px;
    height: auto;
  }
}