@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "~@blueprintjs/datetime/lib/css/blueprint-datetime.css";
@import "~@blueprintjs/select/lib/css/blueprint-select.css";



$footerHeight: 150px;

body {
  font-family: 'Roboto', Arial, sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
}

#main-container {
  min-height: 100%;
  margin-bottom: -$footerHeight
}

.push, footer {
  height: $footerHeight;
}

footer {
  background: #333;
}
