.order-card {
    border-collapse: collapse;
    width: 100%;
}

.order-card td, .order-card th {
    border: 1px solid #ddd;
    padding: 5px;
}

.order-card tr:nth-child(even) {
  background-color: #f2f2f2;
}

.subtitle {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
}
