{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}{{ title }}{% else %}{{ _("Recreation centers") }}{% endif %}
{% endblock %}

{% block body %}

<div id="main-container">

{% block navbar %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bundle.css') }}" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab" rel="stylesheet">

    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">{{ _("Синегорье") }}</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ '/filter' }}">{{ _("Забронировать дом") }}</a></li>
                    <li><a href="{{ '/services' }}">{{ _("Услуги") }}</a></li>
                    <li><a href="{{ '/about' }}">{{ _("О Компании") }}</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_anonymous %}
                    <li><a href="{{ url_for('auth.login') }}">{{ _("Войти") }}</a></li>
                    <li><a href="{{ url_for('auth.register') }}">{{ _("Регистрация") }}</a></li>
                    {% else %}
                    <li><a href="{{ url_for('auth.logout') }}">{{ _("Выйти") }}</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}

{#    <div class="container">#}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-info" role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% block app_content %}{% endblock %}
        <div id="app"></div>
        <script src="{{ url_for('static', filename='js/bundle.js') }}"></script>
{#    </div>#}

{% endblock %}

    <div class="push"></div>
</div>
    <footer>
        <div class="container">
            <div class="footer-content">
                <div class="left-column">
                    <ul class="footer-list">
                        <li class="footer-item"><a href="/">Главная</a></li>
                        <li class="footer-item"><a href="/filter">Забронировать дом</a></li>
                        <li class="footer-item"><a href="/services">Услуги</a></li>
                        <li class="footer-item"><a href="/contacts">Контакты</a></li>
                        <li class="footer-item"><a href="/about">О Компании</a></li>
                    </ul>
                </div>
                <div class="right-column">
                    &#x00A9; Синегорье 2018
                </div>
            </div>
        </div>
    </footer>
{% endblock %}